.custom-btn{
    background-color: black;
}
/* header */

.nav-link {
    color:black;
}
.modify-color{
    background-color:antiquewhite;
    color: aliceblue;
}
.currentColor {
    color: rgb(0, 0, 0);
}
.nav-pills{
    margin-right: 10vh;
}
.margin-svg{
    margin-left: 10vh;
}