.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
.navbar-brand {
    margin-left: 1rem; 
}
.navbar-collapse {
    margin-right: 1rem; 
}

/* 
main */


.form-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: normal;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
/* footer */
/* Basic reset and container */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    background-color: #f8f9fa; /* Light gray background */
    padding: 40px 20px;
    text-align: left;
  }
  
  .footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-col {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-col h5 {
    margin-bottom: 15px;
    color: #343a40; /* Dark gray for headings */
  }
  
  .footer-col p, 
  .footer-col ul, 
  .footer-col a {
    color: #6c757d; /* Medium gray for text */
    text-decoration: none;
  }
  
  .footer-col ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-col ul li {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    transition: color 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    text-decoration: underline;
    color: #007bff; /* Change to blue on hover */
  }
  
  .footer-bottom {
    background-color: #343a40; /* Dark gray background */
    color: white; /* White text */
    padding: 10px 20px;
    text-align: center;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  