.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
.navbar-brand {
    margin-left: 1rem; 
}
.navbar-collapse {
    margin-right: 1rem; 
}

body{
    display: block;
    height: 100vh;
    align-items: flex-start ;
    justify-content: center;
    background-image: url(R.jpeg);
    
    
}


.container {
   border-radius: 10px;
    border: 2px solid black ;
    width: 50% !important;
    height: 80%; 
    margin-left: 50pxpx; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
}
h1 {
    color: #333;
    margin-top: 0;
}
.contact-details, .contact-form {
    margin-bottom: 20px;
    max-width: 100%;
}
.contact-details h2, .contact-form h2 {
    color: #555;
}
.contact-details p {
    margin: 5px 0;
}
.contact-form form {
    display: flex;
    flex-direction: column;
}
.contact-form label {
    margin-top: 10px;
}
.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px); 
    box-sizing: border-box; 
}
.contact-form textarea {
    height: 100px;
    resize: vertical; 
}
.contact-form button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #218838;
} 
.helpme{
  
    display: flex;
    justify-content: center;
    
}
.help
{    margin: 5%;
    text-align: center;
    border: 2px solid black;
    border-radius: 3%;
    padding: 20px;
}
