body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.navbar-brand {
    margin-left: 1rem; /* Adjust this value as needed for more/less space */
}
.navbar-collapse {
    margin-right: 1rem; /* Adjust this value as needed for more/less space */
}
.submit{
    background-color: white;
    width: 90px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2m{
    text-align: center;
    color: white ;
}
.container {
    background-color: #f0eeee;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 253, 253, 0.1);
    width: 0px;
    height: 500px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    width: calc(50% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    width: 100%;
    resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #000;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ac750f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #13595e;
}