.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
.navbar-brand {
    margin-left: 1rem; 
}
.navbar-collapse {
    margin-right: 1rem; 
}


.custom-btn{
    background-color: black;
}
/* header */

.nav-link {
    color:black;
}
.modify-color{
    background-color:antiquewhite;
    color: aliceblue;
}
.currentColor {
    color: rgb(0, 0, 0);
}
.nav-pills{
    margin-right: 10vh;
}
.margin-svg{
    margin-left: 10vh;
}
.container {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}
.container input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 5px;
}
.container label {
    font-weight: bold;
}

