.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
.navbar-brand {
    margin-left: 1rem; /* Adjust this value as needed for more/less space */
}
.navbar-collapse {
    margin-right: 1rem; /* Adjust this value as needed for more/less space */
}