.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.navbar-brand {
    margin-left: 1rem; /* Adjust this value as needed for more/less space */
}
.navbar-collapse {
    margin-right: 1rem; /* Adjust this value as needed for more/less space */
}
h2{
    text-align: center;
}
.getstarted{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1200px;
    padding-left: 325px;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
}
#login{
    align-items: center;
    height: 50px;
    width: 250px;
    background-color: rgb(0, 0, 0);
    color: white;
}
.display{
    display: flex;
    justify-content: center;
}
.col-lg-6 wow fadeInUp{
    display: flex;
    justify-content: center;
    width: 1200px;
}
.content{
    display: flex;
    justify-content: space-evenly;
}
.text{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.type{
    background-color: black;
    color: white;
    align-items: center;
}